@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuyu&display=swap');
body{
    text-align: center;
   font-family: poppins;
}
.div1{
    background-color: blueviolet;
    color:blanchedalmond;
    height:600px;
    width: 900px;
    background-image: url(/assets/istockphoto-183412466-1024x1024.jpg);
}
#div2{
    background-color:darksalmon;
    color:beige;
    height:200px;
    width: 200px;
}
